{% load static %}


{% block content %}

<!-- Content Wrapper START -->
          <div class="main-content">
                {% include "owner/dashboard/bread_crumb.html" %}

            <div class="container-fluid">
              <!-- Title Count Start -->
              {% include "owner/dashboard/title_count.html" %}
              <!-- Title Count End -->
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header">
                      <h5 class="card-title">Diseases Stats</h5>
                      <div class="float-right">
                        <ul class="list-inline d-none d-sm-block">
                          <li>
                            <span class="status bg-primary"></span>
                            <span class="text-semibold">Malaria</span>
                          </li>
                          <li>
                            <span class="status bg-success"></span>
                            <span class="text-semibold">typhoid</span>
                          </li>
                          <li>
                            <span class="status bg-purple"></span>
                            <span class="text-semibold">diarrhoea</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="card-body">
                      <div id="morris-bar-example" style="height: 372px"></div>
                    </div>
                  </div>
                </div>
                
              </div>
              
              
            </div>
          </div>
          <!-- Content Wrapper END -->




{% endblock content %}